@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100;400;500&family=Noto+Sans:wght@200;400&family=Open+Sans&family=Raleway:wght@200&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0%;
    background-color: black;
    color: white;
    letter-spacing: 0.3px;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
}

/* DESK-NAV START */
.header_1{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(9, 9, 9);
    margin-top: 0;
}
.header_1 ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
.header_1 a{
    color: white;
    text-decoration: none;
}
.header_1 button{
    color: white;
    background-color: rgb(255, 0, 93);
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(255, 0, 93);
    font-size: 14px;
    width: 70px;
}
.header_1 button:hover{
    background-color: rgb(255, 110, 163);
    box-shadow: 0 0 15px rgb(255, 110, 163);
}

/* DESK-NAV END*/

/* DESK-NAV_2 START */
.header_2{
    display: none;
    gap: 100px;
    align-items: center;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(9, 9, 9);
    margin-top: 0;
    text-align: center;
    justify-content: center;
}
.header_2 h3{
    text-align: center;
    background-color: rgb(18, 18, 18);
    margin-top: 0;
    padding: 10px;
}
.header_2 ul{
    display: flex;
    gap: 30px;
    list-style: none;
    text-align: center;
    justify-content: center;
}
.header_2 a{
    color: white;
    text-decoration: none;
}
.nav__link1{
    color: white;
    background-color: rgb(255, 0, 93);
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(255, 0, 93);
    font-size: 14px;
    width: 70px;
}
/* DESK-NAV_2 END*/


/* Home page desktop start */
.content_1 img{
    border-radius: 35% 65% 42% 58% / 55% 29% 71% 45% ;
    width: 500px;
}
.title_with_pic_1{
    display: flex;
}
.content_1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.p_size h1{
    font-size:50px;
}
.p_size p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.highlight-last-word {
    color:rgb(255, 0, 93);
}
.p_size button{
    background-color:rgb(255, 113, 120);
    border: none;
    border-radius: 50px;
    padding: 12px;
    margin: 5px;
    font-size: 17px;
    box-shadow: 0 0 15px rgb(255, 0, 93);
    color: white;
    cursor: pointer;
}
.p_size .btn_1:hover {  
    background-color: rgb(255, 110, 163);
    box-shadow: 0 0 15px rgb(255, 110, 163);
}
.p_size .btn_2:hover {  
    background-color: rgb(255, 110, 163);
    box-shadow: 0 0 15px rgb(255, 110, 163);
}
.p_size{
    margin-top: 50px;
    padding-right: 30px;
}
.p_size a{
    color: white;
    text-decoration: none;
}

/* Home page desktop end */


/* Home page monile start */
.content_2 img{
    border-radius: 35% 65% 42% 58% / 55% 29% 71% 45% ;
    width: 500px;
}
.title_with_pic_2{
    display: grid;
}
.content_2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.p_size h1{
    font-size:50px;
}
.p_size p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.highlight-last-word {
    color:rgb(255, 0, 93);
}
.p_size button{
    background-color:rgb(255, 113, 120);
    border: none;
    border-radius: 50px;
    padding: 12px;
    margin: 5px;
    font-size: 17px;
    box-shadow: 0 0 15px rgb(255, 0, 93);
    color: white;
}
.p_size{
    margin-top: 50px;
    padding-right: 30px;
}
.display_2{
    display: none;
}

/* Home page mobile end */

/* About page start */
.about{
    padding: 20px;
    max-width: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 25px;
    letter-spacing: 0.3px;
    margin-bottom: 200px;
}
.about h1{
    color: rgb(255, 0, 93);
    letter-spacing: 1px;
}
/* About page end */


/* skills page start */
.skills{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    width: 200px;
    
}
.skills h1{
    font-size: 50px;
    letter-spacing: 0.3px;
    color: rgb(255, 0, 93);
}
.both_skills{
    display: flex;
    gap: 50px;
}
.gd_skills{
    width: 600px;
}
.skills_p{
    color: yellow;
    font-weight: bold;
}
/* skills page end */


/* contact form start */
form {
    width: 400px;
    margin: 50px auto;
    background-color: #323232;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button {
    background-color: #ff0055;
    box-shadow: 0 0 15px #ff0055;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: rgb(255, 110, 163);
    box-shadow: 0 0 15px rgb(255, 110, 163);
  }

  .my_form h1{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 0, 93);
    font-weight: 800;
  }
  /* contact form end */